<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=title%>
    </title>
    <%-include('partials/head.ejs')%>
</head>

<body>
    <%-include('partials/navigations.ejs')%>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>
                    Soy un entusiasta de la tecnología, me apasiona saber que se puede hacer con esa caja llena de circuitos integrados. Me gusta ahondar en temas relevantes como el trabajo en equipo, las relaciones humanas, las aptitudes que adquirimos a lo largo de nuestra
                    vida profesional. Espero poder aprender todos los días algo nuevo. Doy lo mejor de mi siempre y mas cuando algo me apasiona tanto!
                </p>
            </section>
        </main>
        <%-include('partials/footer.ejs')%>
</body>

</html>